name = "pic"
main = "src/index.js"
compatibility_date = "2024-10-01"
compatibility_flags = ["nodejs_compat"]

[[r2_buckets]]
binding = "R2"
bucket_name = "pic-r2"

[[d1_databases]]
binding = "DB"
database_name = "pic-d1"
database_id = "6e19bd43-7d51-474c-bcd7-de00cadde82e"
