name = "pic-scheduler"
main = "src/index.js"
compatibility_date = "2024-10-01"
compatibility_flags = ["nodejs_compat"]

[vars]
UNSPLASH_API_KEY = "cOFy_Ns2w3NvuU-O5PfVHIcfg0T7UhYDguppnv7qW_I"

[[r2_buckets]]
binding = "R2"
bucket_name = "pic-r2"

[[d1_databases]]
binding = "DB"
database_name = "pic-d1"
database_id = "1a110c7e-1ba4-4389-8a64-f73fd7076443"

[ai]
binding = "AI"

[[analytics_engine_datasets]]
binding = "AE"
dataset = "pic-ae"

[[workflows]]
binding = "DOWNLOAD_WORKFLOW"
name = "pic-download-wf"
class_name = "DownloadWorkflow"

[[workflows]]
binding = "CLASSIFY_WORKFLOW"
name = "pic-classify-wf"
class_name = "ClassifyWorkflow"

[triggers]
crons = ["*/10 * * * *"]
